@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/woff2/dm-sans-400.woff2') format('woff2');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/woff2/dm-sans-500.woff2') format('woff2');
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-purple-100: hsl(254, 88%, 90%);
  --color-purple-500: hsl(256, 67%, 59%);
  --color-yellow-100: hsl(31, 66%, 93%);
  --color-yellow-500: hsl(39, 100%, 71%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 7%);
  --fw-regular: 400;
  --fw-medium: 500;
  --font-family: 'DM Sans', sans-serif;
  --lh-heading-large: 0.95;
  --lh-heading-medium: 0.92;
  --lh-heading-xl: 0.875;
  --lh-heading-xxl: 0.82;
  --lh-body: 1.1;
  --lh-tight: 0.9;
  --lh-standard: 1.2;
}
body {
  font-family: var(--font-family);
  font-size: 1.125rem;
  font-weight: var(--fw-regular);
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(300, 5%, 96%);
  padding: 2rem 1rem;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.bento-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'social'
    'manage'
    'maintain'
    'shedule'
    'grow'
    'stat'
    'create'
    'write';
  gap: 2rem;
  width: 100%;
  max-width: 70rem;
}
.card {
  width: 100%;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-social {
  grid-area: social;
}
.card-manage {
  grid-area: manage;
}
.card-maintain {
  grid-area: maintain;
}
.card-shedule {
  grid-area: shedule;
}
.card-grow {
  grid-area: grow;
}
.card-stat {
  grid-area: stat;
}
.card-create {
  grid-area: create;
}
.card-write {
  grid-area: write;
}
.card-social {
  gap: 1.5rem;
  padding: 2.5rem 2rem;
  background-color: var(--color-purple-500);
}
.card-social h2 {
  font-size: 2.875rem;
  font-weight: var(--fw-medium);
  line-height: var(--lh-heading-large);
  letter-spacing: -0.06em;
  text-align: center;
  color: var(--color-white);
}
.gold-text {
  color: var(--color-yellow-500);
}
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.rating-container p {
  line-height: var(--lh-body);
  color: var(--color-white);
}
.card-manage {
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-white);
  overflow: hidden;
}
.card-manage h2 {
  font-size: 1.625rem;
  font-weight: var(--fw-medium);
  line-height: var(--lh-heading-medium);
  letter-spacing: -0.04em;
  color: var(--color-black);
  text-align: left;
}
.card-manage img {
  min-width: 19.75rem;
  margin-right: -0.375rem;
}
.card-maintain {
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0;
  background-color: var(--color-yellow-500);
  overflow: hidden;
}
.card-maintain h2 {
  font-size: 1.625rem;
  font-weight: var(--fw-medium);
  line-height: var(--lh-heading-medium);
  letter-spacing: -0.04em;
  color: var(--color-black);
}
.card-maintain img {
  max-width: 13rem;
  margin-bottom: -1.3rem;
}
.card-shedule {
  gap: 1.5rem;
  padding: 2rem 1.125rem;
  background-color: var(--color-purple-100);
  text-align: center;
}
.card-shedule h2 {
  font-size: 1.625rem;
  font-weight: var(--fw-medium);
  line-height: var(--lh-heading-medium);
  letter-spacing: -0.04em;
  color: var(--color-black);
}
.card-shedule h2,
.card-shedule p {
  padding-inline: 0.875rem;
}
.card-grow {
  gap: 2.5rem;
  padding: 1.5rem;
  background-color: var(--color-purple-500);
  text-align: center;
}
.card-grow h2 {
  font-size: 2rem;
  font-weight: var(--fw-medium);
  line-height: var(--lh-heading-xl);
  letter-spacing: -0.04em;
  color: var(--color-white);
}
.card-grow img {
  margin-inline: auto;
}
.card-stat {
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--color-white);
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.875rem;
}
.stat-number {
  font-size: 2.875rem;
  font-weight: var(--fw-medium);
  line-height: var(--lh-tight);
  letter-spacing: -0.02em;
  color: var(--color-black);
}
.stat-description h2 {
  font-size: 1.125rem;
  font-weight: var(--fw-regular);
  line-height: var(--lh-body);
  letter-spacing: 0;
}
.card-stat img {
  max-width: 11.125rem;
}
.card-create {
  gap: 1.5rem;
  padding: 2rem;
  background-color: var(--color-yellow-100);
}
.card-create h2 {
  font-size: 2rem;
  font-weight: var(--fw-medium);
  line-height: var(--lh-heading-xl);
  letter-spacing: -0.04em;
  color: var(--color-black);
}
.purple-text {
  color: var(--color-purple-500);
}
.card-write {
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--color-yellow-500);
}
.card-write h2 {
  font-size: 2rem;
  font-weight: var(--fw-medium);
  line-height: var(--lh-heading-xl);
  letter-spacing: -0.04em;
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  body {
    padding: 3.25rem 2.5rem;
  }
  .bento-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'social social'
      'manage maintain'
      'shedule shedule'
      'grow grow'
      'stat stat'
      'create write';
  }
  .card-social {
    padding: 4.5rem 4.75rem;
  }
  .card-social h2 {
    font-size: 3.375rem;
    line-height: var(--lh-heading-large);
  }
  .card-manage {
    padding: 1.5rem;
    justify-content: space-between;
  }
  .card-manage h2 {
    font-size: 1.75rem;
    line-height: var(--lh-heading-medium);
    max-width: 13rem;
  }
  .card-manage img {
    margin-right: -0.75rem;
  }
  .card-maintain {
    padding: 1.5rem;
    padding-bottom: 0;
  }
  .card-maintain h2 {
    font-size: 1.75rem;
    line-height: var(--lh-heading-medium);
  }
  .card-maintain img {
    margin-bottom: 0;
  }

  .card-shedule {
    padding: 2rem;
  }
  .card-shedule > * { 
    max-width: 22.5rem;
    margin-inline: auto;
  }
  .card-shedule h2 {
    font-size: 1.75rem;
    line-height: var(--lh-heading-medium);
  }
  .card-shedule h2,
  .card-shedule p {
    padding-inline: 0;
  }
  .card-grow {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .card-grow h2 {
    font-size: 2.25rem;
    line-height: var(--lh-heading-xxl);
    max-width: 16.125rem;
  }
  .card-grow img {
    margin-inline: 0;
  }
  .card-stat {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .stat-number {
    font-size: 3.375rem;
    line-height: var(--lh-heading-large);
  }
  .card-create {
    padding: 1.5rem;
  }
  .card-create h2 {
    font-size: 2.25rem;
    line-height: var(--lh-heading-xxl);
  }
  .card-write h2 {
    font-size: 2.25rem;
    line-height: var(--lh-heading-xxl);
  }
}
@media screen and (min-width: 1280px) {
  body {
    padding: 5rem;
  }
  .bento-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'create social social shedule'
      'create manage maintain shedule'
      'write manage maintain shedule'
      'write stat grow grow';
  }
  .card-social {
    padding: 3.875rem 2rem;
  }
  .card-social h2 {
    font-size: 3.875rem;
    line-height: var(--lh-heading-large);
  }
  .card-manage h2 {
    font-size: 2rem;
    line-height: var(--lh-heading-xl);
    max-width: 12rem;
  }

  .card-manage img {
    margin-right: -5.25rem;
  }

  .card-maintain h2 {
    font-size: 2rem;
    line-height: var(--lh-heading-xl);
  }
  .card-maintain img {
    margin-bottom: -3.875rem;
  }

  .card-shedule {
    overflow: hidden;
    text-align: left;
  }

  .card-shedule > * {
    max-width: 100%;
    margin-inline: 0;
  }
  .card-shedule h2 {
    font-size: 2rem;
    line-height: var(--lh-heading-xl);
  }
  .card-shedule img {
    min-width: 22.375rem;
    margin-right: -8.25rem;
  }

  .card-grow {
    gap: 0;
  }

  .card-grow h2 {
    font-size: 2.5rem;
    line-height: var(--lh-tight);
  }
  .card-stat {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .stat-number {
    font-size: 3.875rem;
    line-height: var(--lh-heading-large);
  }

  .card-create {
    padding: 2rem;
  }

  .card-create h2 {
    font-size: 2.5rem;
    line-height: var(--lh-tight);
  }

  .card-write,
  .card-stat,
  .card-grow {
    justify-content: start;
  }

  .card-write h2 {
    font-size: 2.5rem;
    line-height: var(--lh-tight);
  }
}
